<%- include('../header.ejs') %>

    <main>

        <h2 class="main-header"><%= pageTitle %></h2>

        <%- include('../error.ejs') %>

        <%- include('page2_content.ejs') %>
    </main>

<%- include('../footer.ejs') %>
